[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

black = "==19.10b0"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
tox = "*"

[packages]

click = "==7.0"
fastapi = "==0.52.0"
pydantic = {extras = ["email"],version = "==1.6.2"}
uvicorn = "*"

[requires]

python_version = "3.7"
